<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="/styles.css">

    <title>News</title>
  </head>
  <body>

<div class="container mt-5">
    <h1>Weather</h1>

  <div class="row">
    <div class="col-sm-4"><h4><%="It is currently #{@current_temp} degrees Fahrenheit."%></h4></div>
    <div class="col-sm-8"><h4>Forecast for the Week:</h4>
                <u1>
                    <%for @daily_forecast in @forecast["daily"]["data"]%>
                        <li><%="#{Time.at(@daily_forecast["time"]).strftime("%a")}: A high temperature of #{@daily_forecast["temperatureHigh"]}. #{@daily_forecast["summary"]}"%></li>
                    <%end%>
                </u1>
    </div>
</div>
    
<div class="container mt-5">

<h1>News</h1>

<p>
    <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src=<%="#{@story1img}"%> alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><%="#{@story1title}"%></p>
      <a href=<%="#{@story1url}"%> class="btn btn-primary">Full Story</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src=<%="#{@story2img}"%> alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><%="#{@story2title}"%></p>
      <a href=<%="#{@story2url}"%> class="btn btn-primary">Full Story</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src=<%="#{@story3img}"%> alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><%="#{@story3title}"%></p>
      <a href=<%="#{@story3url}"%> class="btn btn-primary">Full Story</a>
    </div>
  </div>
</div>
</p>

<p>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src=<%="#{@story4img}"%> alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><%="#{@story4title}"%></p>
      <a href=<%="#{@story4url}"%> class="btn btn-primary">Full Story</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src=<%="#{@story5img}"%> alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><%="#{@story5title}"%></p>
      <a href=<%="#{@story5url}"%> class="btn btn-primary">Full Story</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src=<%="#{@story6img}"%> alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><%="#{@story6title}"%></p>
      <a href=<%="#{@story6url}"%> class="btn btn-primary">Full Story</a>
    </div>
  </div>
</div>
</p>

<p>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src=<%="#{@story7img}"%> alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><%="#{@story7title}"%></p>
      <a href=<%="#{@story7url}"%> class="btn btn-primary">Full Story</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src=<%="#{@story8img}"%> alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><%="#{@story8title}"%></p>
      <a href=<%="#{@story8url}"%> class="btn btn-primary">Full Story</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src=<%="#{@story9img}"%> alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><%="#{@story9title}"%></p>
      <a href=<%="#{@story9url}"%> class="btn btn-primary">Full Story</a>
    </div>
  </div>
</div>
</p>

</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>